@import '../node_modules/semantic-ui-css/semantic.css';
@import './styles/common';

body {
  background: #f8f8f8;
  color: $text-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}