.Social {
  min-width: 35px;
  min-height: 35px;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;

  & i {
    color: #fff;
    line-height: inherit;
    margin: 0 !important;
  }
}